{{>navbar}}
<div class="drink-contianer">
  {{#each usersDrinks}}

  <div class="cocktailContainer container saved" style="width: 30%;">
    <h1 class="interior-box card-drinkName">{{strDrink}}</h1>
    <img src={{strDrinkThumb}} alt="cocktail image" class="drinkImage">
    <p class="interior-box card-ingred">{{strInstructions}}</p>
  </div>

  {{/each}}
</div>
<!--<button id="read-more">read more</button>
{{ingredients}}
<div>
  <display none toggle this button on read more-->
<!--</div>
<button id="delete-cocktail">delete</button>-->